<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Covid-19</title>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</head>
<body>
    <br />
    <h2 class="ui center aligned icon header">
        <i class="circular users icon"></i>
        Covid-19
    </h2>


    <div class="ui secondary pointing menu">
        <a class="active item">
            Home
        </a>
        <a class="item">
            Privary
        </a>
        <div class="right menu">
            <a class="ui item">
                Logout
            </a>
        </div>
    </div>
    <div class="ui segment">
        @RenderBody()
    </div>
</body>
</html>
