@model IndexViewModel
@{
  ViewData["Title"] = "Summary";
}

    <div class="ui grid">   
        <div class="six wide column">
            <h2 class="ui header" id="headItem">
                <img src="https://www.osborneclarke.com/wp-content/uploads/2020/03/covid-website-icon-1.png" />
                <div class="content">
                    Global Summary
                    <div class="sub header">Summary of all the countries</div>
                </div>
            </h2>
            <div id="mapctl" style="position: relative; width: 540px; min-width: 290px; height: 300px; background-color: dimgray;"></div>
            <div class="ui vertical menu" id="menuContainer" style="width:100%;">
                <div class="ui active inline loader"></div>
            </div>
        </div>
        <div class="ten wide column">
            <table class="ui compact table">
                <thead>
                    <tr>
                        <th>Country</th>
                        <th>New Confirmed</th>
                        <th>Total Confirmed</th>
                        <th>New Deaths</th>
                        <th>Total Deathes</th>
                        <th>New Recovered</th>
                        <th>Total Recovered</th>
                    </tr>
                </thead>
                <tbody id="countryBody">
                    
                </tbody>
            </table>
        </div>
    </div>

<script>

    $(function () {

        setInterval(() =>
        {
            globalUpdateFunc();
            countryUpdateFunc();
        }, 10000);

        createMap();
    });
  
</script>